.l-widgets{
	@include grid-container;
}
.l-widgets__youtube{
	@include grid-column(12);
	height: 380px;
}
.l-widgets__slideshow{
	@include grid-column(8);
	height: 535px;
}
.l-widgets__spotify{
	@include grid-column(4);
	height: 535px;
}