.l-modalOverlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
}

.l-positionRel {
	position: relative;
}

.l-modalWindow {
	height: 90vh;
	min-height: 500px;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 40px 40px 10px;
}

.l-modalContentWrapper {
	max-width: 1500px;
}

.l-modalContent {
	display: flex;
	height: 100%;
}

.l-artistModalImage {
	margin-bottom: 30px;
}

.l-artistInfo {
	display: flex;
	flex-direction: column;
	max-height: 100%;
}

.l-moveUp {
	top: -14px;
	left: -27px;
}

.l-closeX {
	position: absolute;
	top: -15px;
	right: -10px;
}

.l-posRelative {
	position: relative;
}

.l-posAbsolute {
	position: absolute;
}

.l-vertCenter {
	display: flex;
	align-items: center;
}

.l-nextPrevButtons span {
	padding: 0px 20px;
}

.l-nextPrevButtons {
	text-align: right;
	margin-top: 30px;
}

.l-modalSocialIcons {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 20px 0px;
}

.l-artistName {
	max-width: 530px;
}

.l-artistSummary {
	flex-grow: 1;
	max-width: 530px;
	padding-bottom: 50px;
}

@media screen and (max-width: 1200px) {
    .l-modalContentWrapper {
		min-width: 1050px
	}

	.l-modalWindow {
		overflow: scroll;
	}

	.l-artistName {
		max-width: 360px;
	}

	.l-artistSummary {
		width: 360px;
		height: 50%;
	}
}

