.l-instagramWidget {
	margin-top: 80px;
}

.l-instagramText {
	margin-bottom: 20px;
}

.l-instagramText span {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fa-instagram.l-instagramWidgetIcon {
	padding-top: 3px;
	padding-right: 15px;
}

.l-instagramPlaceholder {
	height: 265px;
	width: 100%;
}