.l-mobileHead {
	display: flex;
}

.l-mobileLeft {
	display: inline-block;
	flex-grow: 1;
}

.l-mobileLeftTop {
	display: flex;
}

.l-burger {
	width: 100px;
	padding: 30px 10px;
	display: inline-block;
}

.l-burger img {
	width: 100%;
	height: auto;
}

.l-mobileLogo {
	flex-grow: 1;
	text-align: center;
}

.l-mobileLogo img {
	max-width: 300px;
	display: inline-block;
	padding: 15px 20px;
}

// .l-mobileNav {
// 	display: none;
// }

.l-mobileNav {
	position: relative;
}

.l-mobileNavList {
	position: absolute;
	width: 100%;
	z-index: 1;
}

.l-mobileNavList a {
	padding: 20px 10px 20px 15%;
	display: block;
}

.l-mobileRight {
	display: none;
}

.l-desktopOnly {
	display: none;
}

@media(min-width: 585px){
	.l-tinyOnly {
		display: none;
	}

	.l-mobileRight {
		display: flex;
	}

	.l-mobileRight a {
		padding: 42px 10px;
	}
}

@media(min-width: 700px){
	.l-mobileOnly {
		display: none;
	}

	.l-desktopOnly {
		display: block;
	}
}




