.l-navList{
	display: flex;
	justify-content: space-between;
	position: relative;
}

.l-navSubList{
	display: flex;
	justify-content: space-between;
}

.navList__item:hover > .l-navSubList{
	height: auto;
}