.artistsContainer{
  @include grid-container; // Based on 12 column units.
}
.artist{
  @include grid-column(3); // This element takes up 3/12 columns.
}

@media (max-width: 600px){
  .artist{
    @include grid-column(6); // This element takes up 3/12 columns.
  }  
}

.artist__name{
  background: blue;
  color: #fff;
}

.artist__city{
  background: #fff;
  color: pink;
}