.modalOverlay {
	background-color: $modalOverlay;
	width: 100%;
	height: 100vh;
	z-index: 9998;
	display: flex;
	align-items: center;
}

.modalWindow {
	background-color: $white !important;
	background: url("../../static/assets/images/ArtistModalBGGraphic.png");
	background-repeat: no-repeat;
	background-position-y: -258px;
	height: 650px;
	width: 100%;
	z-index: 9999;
	padding: 40px;
}

.modalContent {
	display: flex;
	flex-direction: row;
}

.artistModalImage {
	flex-grow: 1;
}

.artistName h1 {
	font-family: $font-fam-BoldItalic;
	text-transform: uppercase;
	color: $green;
	font-style: italic;
	font-weight: bold;
	font-size: 4em;
	top: -14px;
	position: relative;
}

.closeModal {
	display: block;
	font-family: $font-fam-Bold;
	color: $green;
	font-size: 1.8em;
	position: absolute;
	top: -15px;
	right: -10px;
	padding: 15px;
	cursor: pointer;
}

.artistInfo {
	padding-left: 30px;
	position: relative;
}

.artistSummary {
	overflow: auto;
	width: 530px;
	height: 50%;
	max-height: 450px;
	color: $modalBlue;
	font-family: $font-fam;
	line-height: 1.35em;
	font-size: 1.15em;
	padding-right: 30px;
	padding-bottom: 50px;
}

.artistSummary a {
	text-decoration: none;
	color: $modalBlue;
	cursor: pointer;
}

.artistSummary::-webkit-scrollbar-track
{
	background-color: #eaeaea;
}

.artistSummary::-webkit-scrollbar
{
	width: 9px;
	background-color: #eaeaea;
}

.artistSummary::-webkit-scrollbar-thumb
{
	background-color: #aaaaaa;
	border: 2px solid #eaeaea;
}

.modalIcon {
	border: 7px solid #929292;
	background-color: #929292;
	border-radius: 100%;
	color: $white;
	font-size: 1.7em;
	margin-top: 20px;
}

.modalSocialIcons {
	display: flex;
	justify-content: space-between;
	padding-right: 80px;
	box-shadow: -20px -30px 30px $white;
	position: relative;
}

.iconOblong {
	font-size: 1.4em;
	padding-top: 2px;
}

.nextPrevButtons {
	
}

