.featured{
	font-family: $font-fam-Bold;
	font-size: 24px;
	text-transform: uppercase;
	padding: 50px 34px;
}

.featuredDivider{
	border-color: $green;
	margin: 20px 100px;
}

.featuredItem{
	padding: 12px 0px;
}

.fa-circle{
	font-size: 16px;
	padding: 0px 8px;
}

.featuredFullLink{
	font-size: 18px;
	padding-top: 30px;
	text-decoration: none;
	color: $blue;
}

.featured__artist{
	color: $blue;
}

.featuredArtists .fa-circle{
	color: $green;
}

.featured__article{
	color: $green;
}

.featuredArticles .fa-circle{
	color: $blue;
}

.corner{
	width: 80px; 
	height: 80px;
}