.featured{
	font-family: $font-fam;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bolder;
	text-align: center;
	padding: 50px 34px;
	position: relative;
}

.featured > hr{
	border-color: $green;
	margin: 20px 100px;
}

.featured li{
	padding: 12px 0px;
}

.featured__artist, .featured__article{
	display: inline-block;
}

.fa-circle{
	font-size: 16px;
	padding: 0px 8px;
}

.featured > a{
	display: block;
	font-size: 18px;
	padding-top: 30px;
	text-decoration: none;
	color: $blue;
}


.featured__artist{
	color: $blue;
}

.featuredArtists .fa-circle{
	color: $green;
}

.featured__article{
	color: $green;
}

.featuredArticles .fa-circle{
	color: $blue;
}

.decor img{
	width: 80px; 
	height: 80px;
	position: absolute;
}

.top{
	top:0px;
}

.bottom{
	bottom: 0px;
}

.left{
	left: 0px;
}

.right{
	right: 0px;
}