.footerLinksContainer{
	background-color: $black;
	@include grid-container;
}
.footerLink{
	color: $white;
	letter-spacing: 4px;
	line-height: 20px;
	@include grid-column(3);
}
.footerLink__title{
	font-size: 20px;
	padding: 10px 0px;
}
.footerLink__sublinks{
	padding-left: 30px;
}
