.footerLinksContainer{
	background-color: $black;
}

.footerLink__title,
.footerLink li,
.footerLink__sublinks {
	font-family: $font-fam;
	font-weight: lighter;
	color: $white;
	letter-spacing: 4px;
}

.footerLink li{	
	line-height: 20px;
}

.footerLink__title{
	font-size: 20px;
	padding: 10px 0px;
}

.footerLink__sublinks{
	padding-left: 30px;
}
