.navigationList {
	background-color: $blue;
}

.navigationList a {
	color: $white;
	font-family: $font-fam-Lighter;
	text-transform: uppercase;
	letter-spacing: 3px;
	flex-grow: 1;
	text-align: center;
	display: inline-block;
	padding: 12px;
}

.navLink {
	display: flex;
	flex-grow: 1;
}

.navigationList a:hover {
	background-color: $green;
}

.subNavList {
	background-color: $green;
	position: absolute;
	width: 100%;
	left: 0;
	visibility: visible;
	transition: maxHeight 0.5s;
}

.subNavLink {
	display: flex;
	justify-content: space-around;
}

.subNavLink a {
	background-color: $green;
}

.subNavLink a:hover {
	background-color: $blue;
}

.newsletterLink {
	padding-right: 10px;

	-webkit-transform:scale(1.3,1); /* Safari and Chrome */
    -moz-transform:scale(1.3,1); /* Firefox */
    -ms-transform:scale(1.3,1); /* IE 9 */
    -o-transform:scale(1.3,1); /* Opera */
    transform:scale(1.3,1); /* W3C */
}