.navigation {
	background-color: $blue;
}

.navigation a {
	color: $white;
	font-family: $font-fam-Lighter;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.navLink {
	padding: 12px;
}

.navLink:hover {
	background-color: $green;
}

.navLink a {
	text-align: center;
	font-family: $font-fam;
	font-weight: lighter;
}

.fa-envelope-o {
	padding-right: 10px;

	-webkit-transform:scale(1.3,1); /* Safari and Chrome */
    -moz-transform:scale(1.3,1); /* Firefox */
    -ms-transform:scale(1.3,1); /* IE 9 */
    -o-transform:scale(1.3,1); /* Opera */
    transform:scale(1.3,1); /* W3C */
}


