.passOption{
	padding: 10px 0px;
	font-family: $font-fam;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 1px;
	color: $white;
}

.passOption > *{
	line-height: 20px;
}

.option__note, .option__date{
	text-transform: capitalize;
	font-weight: lighter;
}

.option__note{
	font-style: italic;
	font-size: 12px;
}

.option__date{
	font-size: 15px;
}

.forSale:after{
	content: "On sale now";
	color: $green;
}

.soldOut:after{
	content: "Sold out";
	color: $grayed-out;
}

.option__title{
	color: $blue;
}

.option__note{
	color: $green;
}

.passOption.soldOut *{
	color:gray;
}

.fa.fa-minus{
	@include stretch(1.4);
	padding: 0px 5px;
}
