.centerText{
	margin: 0px auto;
	font-family: $font-fam;
	font-weight: lighter;
	font-size: 22px;
	padding: 14px 0px;
}

.centerText__title{
	color: $blue;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.centerText__subtitle{
	color: $green;
	font-style: italic;
	text-transform: capitalize;
	padding: 8px 0px;
}

.centerText__body{
	color: $white;
}

.centerText .fa.fa-minus{
	@include stretch(1.4, 0.4);
	padding: 0px 5px;
}