.footerCredits{
	padding-bottom: 150px;
}

.footerCredits img{  
	height: 50px;
	width: auto;
	margin-left: 20px;
}

.credit{
	text-transform: uppercase;
	font-family: $font-fam-Lighter;
	font-weight: lighter;
	color: $white;
	font-size: 1.4em;
}