.footerContainer {
	margin-top: 100px;
	background-image: url("assets/images/footerGraphic.png");
	background-repeat: no-repeat;
	background-position: 100% 87%;
}

@media (max-width: 700px){
	.footerContainer{
		padding-top: 100px;
	}
}