$black: #2f0000;
$blue: #21b0e6;
$modalBlue: #46c1f2;
$green: #25bcac;
$gray: #808080;
$lightGray: #999999;
$white: #fff;
$grayed-out: dimgray;
$hover-gray: grey;
$modalOverlay: rgba(38, 11, 12, 0.7);