@font-face {
    font-family: freightSansMedium;
    src: url("../../static/assets/fonts/Freight Sans Pro Medium.otf");
}

@font-face {
    font-family: freightSansBoldItalic;
    src: url("../../static/assets/fonts/Freight Sans Pro Bold Italic.otf");
}

@font-face {
    font-family: freightSansBold;
    src: url("../../static/assets/fonts/Freight Sans Pro Bold.otf");
}

$font-fam: freightSansMedium, sans-serif;
$font-fam-BoldItalic: freightSansBoldItalic, sans-serif;
$font-fam-Bold: freightSansBold, sans-serif;