.imageContainer {
	height: 220px;
	background-size: cover;
	background-position: center;
}

.artist__name {
	font-family: $font-fam;
	font-size: 2.5em;
	font-weight: bold;
	color: $white;
	background-color: $green;
	font-style: italic;
	padding: 35px 25px;
	text-transform: uppercase;
}

.artist__city {
	font-family: $font-fam;
	font-size: 1.5em;
	font-weight: lighter;
	color: $white;
	background-color: $blue;
	letter-spacing: 3px;
	text-align: center;
	padding: 15px;
	text-transform: uppercase;
}

@media(max-width: 700px){
	.artist__name {
		font-size: 1.8em;
	}

	.artist__city {
		font-size: 1em;
	}
}

@media(max-width: 550px){
	.artist__name {
		font-size: 2.5em;
	}

	.artist__city {
		font-size: 1.5em;
	}
}