.modalOverlay {
	background-color: $modalOverlay;
}

.modalWindow {
	background: $white url("assets/images/ArtistModalBGGraphic.png") no-repeat;
	background-position-y: -258px;
	padding: 40px;
}

.artistModalImage {
	flex-grow: 1;
	overflow: hidden;
}

.artistModalImage img {
	width: 100%;
}

.artistName {
	background-color: $white;
}

.artistName h1 {
	font-family: $font-fam-BoldItalic;
	text-transform: uppercase;
	color: $green;
	font-style: italic;
	font-weight: bold;
	font-size: 4em;
}

.closeModal {
	font-family: $font-fam-Bold;
	color: $green;
	font-size: 1.8em;
	padding: 15px;
	cursor: pointer;
}

.artistInfo {
	padding-left: 30px;
}

.artistSummary {
	background-color: $white;
	overflow: auto;
	color: $modalBlue;
	font-family: $font-fam;
	line-height: 1.35em;
	font-size: 1.15em;
	padding-right: 30px;
}

.artistSummary a {
	text-decoration: none;
	color: $modalBlue;
	cursor: pointer;
}

.artistSummary::-webkit-scrollbar-track
{
	background-color: #eaeaea;
}

.artistSummary::-webkit-scrollbar
{
	width: 9px;
	background-color: #eaeaea;
}

.artistSummary::-webkit-scrollbar-thumb
{
	background-color: #aaaaaa;
	border: 2px solid #eaeaea;
}

.modalIcon {
	border: 7px solid #929292;
	background-color: #929292;
	border-radius: 100%;
	color: $white;
	font-size: 1.7em;
}

.modalSocialIcons {
	box-shadow: -20px -30px 30px $white;
	background-color: $white;
}

.iconOblong {
	font-size: 1.4em;
	padding-top: 2px;
}

.nextPrevButtons {
	color: $green;
	text-transform: uppercase;
	font-family: $font-fam-Lighter;
	font-size: 1.2em;
}

.fa.fa-caret-left,
.fa.fa-caret-right {
	color: $blue;
	font-size: 1.3em;
	-webkit-transform:scale(1.8,1); /* Safari and Chrome */
    -moz-transform:scale(1.8,1); /* Firefox */
    -ms-transform:scale(1.8,1); /* IE 9 */
    -o-transform:scale(1.8,1); /* Opera */
    transform:scale(1.8,1); /* W3C */
    cursor: pointer;
    padding: 10px;
}


@media screen and (max-width: 1200px) {

	.modalWindow::-webkit-scrollbar-track
	{
		background-color: #eaeaea;
	}

	.modalWindow::-webkit-scrollbar
	{
		height: 9px;
		background-color: #eaeaea;
	}

	.modalWindow::-webkit-scrollbar-thumb
	{
		background-color: #aaaaaa;
		border: 2px solid #eaeaea;
	}
}