.featured{
	font-size: 48px;
	@include header-bold-blue;
}

@media(max-width: 700px){
	.featured__article:nth-child(1),
	.featured__artist:nth-child(3){
		color: $green;
	}

	.featured__article:nth-child(3),
	.featured__artist:nth-child(1),
	.featuredFullLink{
		color: $blue;
	}

	.featuredDivider{
		border-color: $green;
	}

	.featuredFullLink{
		font-size: 20px;
		padding-top: 40px;
	}

	.featured__artist,
	.featured__article{
		padding: 21px 0px;
	}
}

@media(min-width: 700px){
	.featured{
		font-size: 48px;
		@include header-bold-blue;
	}

	.featuredDivider{
		border-color: $green;
		margin: 40px 70px;
	}

	.featuredItem{
		padding: 12px 0px;
	}

	.featured .fa-circle{
		font-size: 16px;
		padding: 0px 8px;
	}

	.featuredFullLink{
		font-size: 18px;
		padding-top: 30px;
	}

	.featuredArtists .fa-circle,
	.featured__article{
		color: $green;
	}

	.corner-top-left{
		@include rotate(90deg);
	}

	.corner-top-right{
		@include rotate(180deg);
	}

	.corner-bottom-right{
		@include rotate(270deg);
	}

	.corner-top-left,
	.corner-top-right,
	.corner-bottom-left,
	.corner-bottom-right{
		width: 80px; 
		height: 80px;
	}
}