.featured{
	font-size: 48px;
	@include header-bold-blue;
}

@media(max-width: 700px){
	.featured__article:nth-child(1),
	.featured__artist:nth-child(3){
		color: $green;
	}

	.featured__article:nth-child(3),
	.featured__artist:nth-child(1),
	.featuredFullLink{
		color: $blue;
	}

	.featuredDivider{
		border-color: $green;
	}

	.featuredFullLink{
		font-size: 20px;
		padding-top: 40px;
	}

	.featured__artist,
	.featured__article{
		padding: 21px 0px;
	}

	.featured .fa.fa-circle{
		display: none;
	}
}

@media(min-width: 700px){
	.featured{
		font-size: 54px;
		line-height: 64px;
		@include header-bold-blue;
	}

	.featuredDivider{
		border-color: $green;
		margin: 30px 70px;
	}

	.featuredItem{
		padding: 12px 0px;
	}

	.featured .fa-circle{
		font-size: 25px;
		padding: 15px 25px 0px;
	}

	.featuredFullLink{
		font-size: 24px;
		padding-top: 10px;
	}

	.featuredArtists .fa-circle,
	.featured__article{
		color: $green;
	}

	.corner-top-left{
		@include rotate(90deg);
	}

	.corner-top-right{
		@include rotate(180deg);
	}

	.corner-bottom-right{
		@include rotate(270deg);
	}

	.corner-top-left,
	.corner-top-right,
	.corner-bottom-left,
	.corner-bottom-right{
		width: 90px; 
		height: 90px;
	}
}