.templateTitle {
	font-family: $font-fam-BoldItalic;
	font-size: 3.3em;
	text-transform: uppercase;
	line-height: 2em;
	@include stretch(1, 1.1);
}

.pageDescription {
	font-family: $font-fam;
	font-size: 1.62em;
	line-height: 1.23em;
	padding: 20px 90px 65px;
}

.pageDescription,
.templateTitle {
	color: $white;
	-webkit-font-smoothing: antialiased;
}

@media (max-width: 700px){
	.pageDescription{
		padding: 0px 0px 50px;
	}
}