.navList{
  text-align: center;
}

.navList__item{    
  font-size: 1.4em;
  display: inline-block;
}

.navSubList{
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
}

.navSubList__item{
  font-size: inherit;
}

.navSubList__link{
  flex-grow: 1;
  font-size: 0.65em;
}

.newsletterLink{
  padding-right: 10px;
  @include stretch(1.3, 1);
}

.navDownArrow{
  padding-left: 4px;
  @include stretch(1, 1.5);
}

.navList__item,
.navSubList__item{
  flex-grow: 1;
  font-family: $font-fam-Lighter, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.navList__link,
.navSubList__link{
  color: #fff;
  font-size: 0.75em;
  padding: 13px 4px;
  display: block;
}

.navSubList__link:hover,
.navList{
	background-color: $blue;
}

.navList__link:hover,
.navSubList{
  background-color: $green;
}
