.widgets{
	padding: 50px 0px
}

.widgets__youtube{
	margin-bottom: 70px;
	background-color: $blue;
}

.widgets__spotify{
	background-color: $gray;
}

.widgets__slideshow{
	background-color: $blue;
}

@media(max-width: 700px){
	.widgets__slideshow{
		margin-bottom: 70px;
	}
}