.footerCredits{
	padding-bottom: 150px;
}

.footerCredits img{
	height: 44px;  
	width: 110px;
	margin-left: 10px;
}

.credit{
	text-transform: uppercase;
	font-family: $font-fam;
	font-weight: lighter;
	color: $white;
}